### Sets


## What is Sets? :: Sets are unordered colllection of data  enclosed in {}


### properties of sets

- Set elements are unique. Duplicate elements are not allowed.
- No indexing and slicing(means once you added th elemenets in the set u can not access as s[1]
- sets do  not allow mutable data type data
- set itself is mutable data type implies 2d/3d sets can not be possible.

#### Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

### How to create the set

In [9]:
s={1,2,3,4,56,56,4,3}
type(s)
l=[1,2,3,4,4]
set(l)

{1, 2, 3, 4}

In [10]:
s={2,3,4,5,7}
s

{2, 3, 4, 5, 7}

### create empty set

In [1]:
s={}
type(s)  ## since python sets {} for dictionary by default

dict

In [2]:
##  so create empty set using set()
s1=set()
type(s1)

set

In [4]:
s1={1,2,3,4}  ## homogeneous data type set
type(s1)

set

In [5]:
s1={1,2,3,4.3,"balmeet"}  ## hetrogeneous data type set
type(s1)

set

In [41]:
s1={1,2,3,4,5,5,6,7,8,989,99,0,0,1,4,5,7,78,8,9,0,0}
s1 ## gives unique elements

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 78, 99, 989}

### list to set

In [44]:
list1=[1,2,3,3,4,4,5]
set(list1)  ## gives unique but does not retain the order

{1, 2, 3, 4, 5}

### sets does notallow mutable data

In [7]:
s1={1,2,3,4.3,["balmeet","madrid"]}  
type(s1)

TypeError: unhashable type: 'list'

In [1]:
s1={1,2,3,4.3,{"4":"four"}}  
type(s1)

TypeError: unhashable type: 'dict'

above output cleary shows list is not allowed in set as it is mutable

In [45]:
s1={1,1,2,3,4.3}  
type(s1)  
s1

{1, 2, 3, 4.3}

from above output it cleary shows no duplicacy

In [7]:
s={(1,2,3),"meet"}
s

{(1, 2, 3), 'meet'}

note: there is chance that we may get ("meet",(1, 2, 3)) since sets are not ordered there is no specific position of elements of set since it is used hashing phenomena

### accessing in set

In [11]:
s={1,2,3,"madrid"}
s[4]

TypeError: 'set' object is not subscriptable

In [19]:
s={(1,2,3),"sonia"}
s[0]  ## no  accessing

TypeError: 'set' object is not subscriptable

### how can edit the set ? no although sets are mutable but there is no mechanism to edit the items as indexing is not there.

### How can we add the elements in the set ?? : using add()

In [12]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
s1={34,56,78}
print(id(s1))
s1.add(76)
print(s1)
print(id(s1))  ## means added the element at same memory location

2001303832384
{56, 34, 76, 78}
2001303832384

### deletion in set

In [34]:
s={1,2,3,45,56}
del s[3]  ### can not delete the element using del based on postion : not possible

TypeError: 'set' object doesn't support item deletion

In [33]:
s={1,2,3,45,56}
del s  ##  can delete the entire set 
print(s)

NameError: name 's' is not defined

### using remove

In [19]:
### delete 21 from set
s={31,21,56}
s.remove(21)
print(s)

{56, 31}

### using pop()

In [1]:
s={31,21,56,81,"hello","balmeet"}
s.pop()  ## it deletes RANDOM ELEMENT
print(s)

{21, 'hello', 'balmeet', 56, 31}

this ouput cleary shows that 81 was the last element based on hashing

### Set operations

- concatenation and replication (not possible in set)
- membership works in set

### loop in set

In [39]:
for i in {1,2,3,4}:
    print(i)

1
2
3
4

In [15]:
s=set()
print(s)
size=int(input("enter the number of elemenst in the set"))
for i in range(1,size+1):
    a=input("enter the value to be added in the set")
    s.add(a)
print(s)

set()
enter the number of elemenst in the set4
enter the value to be added in the set3
enter the value to be added in the set4
enter the value to be added in the set5
enter the value to be added in the set6
{'5', '6', '3', '4'}

In [10]:
# Adding elements to the set using iterator
fruits=set()
for i in range(1, 6):
    fruits.add(i)

print(fruits)

{1, 2, 3, 4, 5}

### operations

-len()

- max()

-min()

-sorted()

### Get the list of functions and attributes in set :

In [42]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### clear():  method empties the whole set.

In [33]:
s={2,3,4,5,5}
s.clear()
s

set()

In [38]:
s={1,2,3,3,3,4,4}
s1=s.copy()  ## shallow copy
s1

{1, 2, 3, 4}

In [36]:
s1.add("hello")
s1

{1, 2, 3, 4, 'hello'}

In [37]:
s

{1, 2, 3, 4}

### UNION:
Two sets can be merged using union() function or | operator.

In [16]:
S1={2,3,4,5}
S2={5,6,7,8}
S1|S2

{2, 3, 4, 5, 6, 7, 8}

In [43]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.union(S2)

{2, 3, 4, 5, 6, 7, 8}

In [12]:
fruits = {"apple", "mango", "grapes"}
vegetables={'potato','onion','carrot'}
dishes={'pizza','burger'}

In [13]:
# Union using "|" operator
all_items=fruits|dishes
print(all_items)

{'pizza', 'burger', 'grapes', 'apple', 'mango'}

In [14]:
fruits.union(dishes)

{'apple', 'burger', 'grapes', 'mango', 'pizza'}

### intersection: This can be done through intersection() or & operator. Common Elements are selected.

In [46]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.intersection(S2)

{5}

## difference: This is done through difference() or â€“ operator.

In [15]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.difference(S2)

{2, 3, 4}

In [16]:
S1-S2

{2, 3, 4}

### difference_update

In [9]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.difference_update(S2)
print(S1)

{2, 3, 4}

## symmetric_difference gives all elements except common

In [52]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.symmetric_difference(S2)

{2, 3, 4, 6, 7, 8}

## issubset : all the elements of s1 present in s2

In [53]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.issubset(S2)

False

In [58]:
S1={2,3,4}
S2={2,3,4,5,6,7,8}
S2.issuperset(S1)

True

In [59]:
S1={2,3,4}
S2={2,3,4,5,6,7,8}
S1.issubset(S2)

True

## isdisjoint

In [20]:
S1={2,3,4}
S2={5,6,7,8}
S1.isdisjoint(S2)

True

In [55]:
S1={2,3,4}
S2={5,6,7,8}
S1.isdisjoint(S2)

True

In [ ]:
S1={2,3,4,5}
S2={5,6,7,8}
S1.(S2)

### frozenset: it is an immutable version of set .. elements of frozen set remain same after creation .Due to this, frozen sets can be used as keys of dictionary

In [61]:
a={1,2,3,4,5}
a1 = frozenset(a)
print(a1)

frozenset({1, 2, 3, 4, 5})

In [62]:
a1.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

WAP TO ADD ALL THE ELEMENTS IN SET FROM 2000 TO 2100 WHOSE ALL DIGITS ARE EVEN

In [28]:
s1=set()

for i in range(2000,2101):
    s=str(i)
    count=0
    for j in s:
        j=int(j)
        if j%2==0:
            count=count+1
    if count==4:
        #print(i,end=",")
        s1.add(i)
print(s1)

{2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046}

In [31]:
a=set()
m=set()
l=set()
n=input("Enter 1st string")
b=input("Enter 2nd string")
for i in range(0,len(n)):
    a.add(n[i])
#     k+=1
for z in range(0,len(b)):
    m.add(b[z])
#     t+=1
print(m)
print(a)
if m==a:
    print("equal")
else:
    print("not eqaula
          ")

Enter 1st stringtaran
Enter 2nd stringnarat
{'a', 'r', 'n', 't'}
{'a', 'r', 'n', 't'}
equal

In [ ]:
L1=["JAI KUMAR SINGH"]
L2=["NTISH SINGH KATRAIA"]
FIRST=[JAI,NITISH]
MIDDLE=[KUMAR,SINGH]
LAST=["SINGH",KATARIA]